* {
    outline: solid 1px red;
}

body {
    padding:0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#container {
    width: 200px;
    height: 250px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#input {
    height: 40px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    gap: 6px;
    
}

#buttons > button {
     width: 40px;
     height: 40px;
     border: 2px solid black;
}

.operator, #equal {
    background-color: rgba(255, 255, 0, 0.444);
}

#ac {
    background-color: rgba(255, 0, 0, 0.444);
}



